<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto'>
</head>

<body>
    <div>
        <h1>A Short Bio</h1>
    </div>
    <div id='who'>
        <h2>Who was Agatha Christie?</h2>
        <p>Best-selling author Agatha Christie published her first novel, The Mysterious Affair at Styles, in 1920, and
            went on to become one of the most famous writers in history, with mysteries like Murder at the Vicarage,
            Partners in Crime and Sad Cypress. She sold billions of copies of her work and was also a noted playwright
            and romance author.</p>
    </div>
    <div id='life'>
        <h2>Early Life and Background</h2>
        <p>Christie was born Agatha Mary Clarissa Miller on September 15, 1890, in Torquay, Devon, in the southwest part
            of England. The youngest of three siblings, she was educated at home by her mother, who encouraged her
            daughter to write. As a child, Christie enjoyed fantasy play and creating characters, and, when she was 16,
            she moved to Paris for a time to study vocals and piano.</p>
        <p>In 1914, she wed Colonel Archibald Christie, a Royal Flying Corps pilot, and took up nursing during World War
            I. She published her first book, The Mysterious Affair at Styles, in 1920; the story focused on the murder
            of a rich heiress and introduced readers to one of Christie's most famous characters—Belgian detective
            Hercule Poirot.</p>
    </div>
    <div id='books'>
        <h2>Books and Disappearance</h2>
        <p>In 1926, Christie released The Murder of Roger Ackroyd, a hit which was later marked as a genre classic and
            one of the author's all-time favorites. She dealt with tumult that same year, however, as her mother died
            and her husband revealed that he was in a relationship with another woman. Traumatized by the revelation,
            Christie disappeared only to be discovered by authorities several days later at a Harrogate hotel,
            registered under the name of her husband's mistress.</p>
        <p>Christie would recover, with her and Archibald divorcing in 1928. In 1930, she married archaeology professor
            Max Mallowan, with whom she traveled on several expeditions, later recounting her trips in the 1946 memoir
            Come, Tell Me How You Live. The year of her new nuptials also saw the release of Murder at the Vicarage,
            which became another classic and introduced readers to Miss Jane Marple, an enquiring village lady.</p>
    </div>
    <div id='characters'>
        <h2>Cast of Characters</h2>
        <p>Poirot and Marple are Christie's most well-known detectives, with the two featured in dozens of novels and
            short stories. Poirot made the most appearances in Christie's work in titles that included Ackroyd, The
            Mystery of the Blue Train (1928) and Death in the Clouds (1935). Miss Marple has been featured in books like
            The Moving Finger (1942) and A Pocket Full of Rye (1953), and been played on screen by actresses like Angela
            Lansbury, Helen Hayes and Geraldine McEwan. Other notable Christie characters include Tuppence and Tommy
            Beresford, Colonel Race, Parker Pyne and Ariadne Oliver.</p>
    </div>
    <div id='sold'>
        <h2>Sold More Than Two Billion Copies</h2>
        <p>Writing well into her later years, Christie wrote more than 70 detective novels as well as short fiction.
            Though she also wrote romance novels like Unfinished Portrait (1934) and A Daughter's a Daughter (1952)
            under the name Mary Westmacott, Christie's success as an author of sleuth stories has earned her titles like
            the "Queen of Crime" and the "Queen of Mystery." Christie can also be considered a queen of all publishing
            genres as she is one of the top-selling authors in history, with her combined works selling more than 2
            billion copies worldwide.</p>
        <p>Christie was a renowned playwright as well, with works like The Hollow (1951) and Verdict (1958). Her play
            The Mousetrap opened in 1952 at the Ambassador Theatre and—at more than 8,800 showings during 21 years—holds
            the record for the longest unbroken run in a London theater. Additionally, several of Christie's works have
            become popular movies, including Murder on the Orient Express (1974) and Death on the Nile (1978).</p>
        <p>Christie was made a dame in 1971. In 1974, she made her last public appearance for the opening night of the
            play version of Murder on the Orient Express. Christie died on January 12, 1976.</p>
    </div>
</body>

</html>