<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto'>
</head>
<body>
    <div>
        <h1>Gallery</h1>
    </div>
    <div>
        <img src="images/agatha1.jpg"/>
    </div>
    <div>
        <img src="images/agatha2.jpg"/>
    </div>
    <div>
        <img src="images/agatha3.jpg"/>
    </div>
    <div>
        <img src="images/agatha4.jpg"/>
    </div>
</body>
</html>