<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Agatha Christie</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto'>
</head>

<body>
  <div>
    <h1 id='title'>Agatha Christie</h1>
  </div>
  <div><img id='profile' src='images/agatha-christie.jpg'></div>
  <div id='links'>
    <p><a href="/about">About</a></p>
    <p><a href="/works">Works</a></p>
    <p><a href="/gallery">Gallery</a></p>
  </div>
</body>

</html>