body {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    font-family: "Roboto";
    background-color: #FAEBD7;
}
#title {
    padding-top: 50px;
    font-size: 40px;
    padding-bottom: 20px;
}
#profile {
    border-radius: 50%;
}


#pages {
    padding-top: 50px;
}