body {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    font-family: "Roboto";
    background-color: #FAEBD7;
}
#title {
    padding-top: 50px;
    font-size: 40px;
    padding-bottom: 20px;
}
#profile {
    border-radius: 50%;
    border: 10px solid #ddd;
    max-width: 100%;
    height: auto;
}
#links {
    padding-top: 50px;
}
#links a {
text-decoration: none;
color: black;
font-weight: bolder;
font-size: 22px;
}